<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tickets generated</title>
	</head>
	<body>
		<h2>Total generated tickets:</h2>
		<h1><%= totalCount %></h1>
		<h4>for now...</h4>
	</body>
</html>
